PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=
DRIVE_DISK=local

DB_CONNECTION=pg
PG_HOST=0.0.0.0
PG_PORT=15432
PG_USER=marketplace-user
PG_PASSWORD=marketplace-pass
PG_DB_NAME=marketplace

BULL_REDIS_HOST: 0.0.0.0
BULL_REDIS_PORT: 6379 